# An√°lise e resultados

## Passo a passo

# Primeiros passos
- Transformar Medu e Fedu (n√≠vel de escolaridade da m√£e e do pai) de STRING para INTEGER
- none = 0
- primary education(quarta s√©rie) = 1
- quinta a nona s√©rie = 2
- secondary education = 3
- higher education = 4

## Calcular m√©dia dos tr√™s periodos (G1,G2 e G3) em m√©dia geral
## Media geral = 11

In [5]:
import pandas as pd


resultados = pd.DataFrame({
    'Escola': ['GP', 'MS', 'TOTAL'],
    'Total de alunos': [420, 228, 648],
    'Acima da m√©dia': [321, 104, 425],
    '% acima da m√©dia': ['76.4%', '45.6%', '65.6%'],
    'Abaixo da m√©dia': [95, 120, 215],
    '% abaixo da m√©dia': ['22.6%', '52.6%', '33.1%'],
})


resultados

,Escola,Total de alunos,Acima da m√©dia,% acima da m√©dia,Abaixo da m√©dia,% abaixo da m√©dia
0,GP,420,321,76.4%,95,22.6%
1,MS,228,104,45.6%,120,52.6%
2,TOTAL,648,425,65.6%,215,33.1%

### üìä N√∫mero e porcentagem de reprovados por escola e gen√™ro dos alunos

In [6]:
import pandas as pd

# Tabela final com an√°lise
data = [
    ['GP', 'F', 21, '50.0%', '22.6%'],
    ['GP', 'M', 21, '50.0%', '22.6%'], 
    ['MS', 'F', 30, '58.8%', '32.3%'],
    ['MS', 'M', 21, '41.2%', '22.6%'],
    ['Total geral', '', 93, '100.0%', '100.0%']
]

columns = ['school', 'sex', 'failures', '% por escola', '% do total']
df_final = pd.DataFrame(data, columns=columns)

print("üéØ DISTRIBUI√á√ÉO DE ALUNOS COM REPROVA√á√ïES")
print("="*60)
print(df_final.to_string(index=False))

üéØ DISTRIBUI√á√ÉO DE ALUNOS COM REPROVA√á√ïES
============================================================
     school sex  failures % por escola % do total
         GP   F        21        50.0%      22.6%
         GP   M        21        50.0%      22.6%
         MS   F        30        58.8%      32.3%
         MS   M        21        41.2%      22.6%
Total geral            93       100.0%     100.0%

In [7]:
import pandas as pd

# Criando a tabela din√¢mica
data = [
    ['no', 35, 30, 65, '46.15%'],
    ['yes', 512, 63, 575, '10.96%'],
    ['Missing data', '-', '-', 2, '-'],
    ['TOTAL', 547, 93, 640, '14.53%']
]

columns = ['Higher Education', 'No Failures', 'With Failures', 'Total', '% with Failures']
df_he = pd.DataFrame(data, columns=columns)

# Exibindo a tabela
print("üéì Rela√ß√£o entre Interesse em Ensino Superior e Reprova√ß√µes")
print("="*70)
df_he

üéì Rela√ß√£o entre Interesse em Ensino Superior e Reprova√ß√µes
======================================================================

  Higher Education No Failures With Failures  Total % with Failures
0               no          35            30     65          46.15%
1              yes         512            63    575          10.96%
2     Missing data           -             -      2               -
3            TOTAL         547            93    640          14.53%

## üí° An√°lise das Porcentagens

### üìà Distribui√ß√£o das 93 Reprova√ß√µes:

**üè´ Por Escola:**
- GP: 42 alunos (45.2%)
- MS: 51 alunos (54.8%)

**üë• Por G√™nero:**
- Mulheres: 51 alunas (54.8%)
- Homens: 42 alunos (45.2%)

**üéØ Padr√µes Espec√≠ficos:**
- GP: Distribui√ß√£o perfeita (50%-50%)
- MS: Mais mulheres reprovadas (58.8% vs 41.2%)

**üìä Em Rela√ß√£o ao Total de Alunos:**
- 14.3% dos alunos t√™m hist√≥rico de reprova√ß√£o
- MS tem taxa ligeiramente maior de reprova√ß√µes

### üìà Diferen√ßa Expressiva:
- **Interessados em ensino superior**: Apenas 10,96% t√™m reprova√ß√µes  
- **Desinteressados em ensino superior**: 46,15% t√™m reprova√ß√µes
- **Gap de 35,19 pontos percentuais!**

### üéØ Impacto Significativo:
- Alunos sem interesse em faculdade t√™m **4,2x mais chances** de reprova√ß√£o
- **575 alunos** (89,8%) planejam ensino superior vs **65** (10,2%) que n√£o planejam

### üí° Conclus√£o Forte:
O interesse em continuar os estudos √© um **forte indicador** de desempenho acad√™mico atual!

In [20]:
import pandas as pd

# Dados para an√°lise
print("üîç AN√ÅLISE DO GRUPO DE ALTO RISCO")
print("="*55)

total_sem_internet = 151  # Do dataset anterior
total_com_reprovacoes = 93  # Do dataset anterior
grupo_risco = 36

print(f"\nüìä CONTEXTO GERAL:")
print(f"   ‚Ä¢ Total de alunos sem internet: {total_sem_internet}")
print(f"   ‚Ä¢ Total de alunos com reprova√ß√µes: {total_com_reprovacoes}")
print(f"   ‚Ä¢ Alunos SEM internet E COM reprova√ß√µes: {grupo_risco}")
print(f"   ‚Ä¢ Representa {grupo_risco/total_sem_internet*100:.1f}% dos sem internet")
print(f"   ‚Ä¢ Representa {grupo_risco/total_com_reprovacoes*100:.1f}% dos reprovados")

print(f"\nüè´ DISTRIBUI√á√ÉO POR ESCOLA:")
print(f"   ‚Ä¢ GP: {12} alunos em risco ‚Üí {12/77*100:.1f}% dos sem internet da GP")
print(f"   ‚Ä¢ MS: {24} alunos em risco ‚Üí {24/74*100:.1f}% dos sem internet da MS")

print(f"\nüë• DISTRIBUI√á√ÉO POR G√äNERO:")
print(f"   ‚Ä¢ Mulheres: {16} em risco ‚Üí {16/88*100:.1f}% das sem internet")
print(f"   ‚Ä¢ Homens: {20} em risco ‚Üí {20/63*100:.1f}% dos sem internet")

print(f"\nüéØ PROBABILIDADE DE RISCO:")
print(f"   ‚Ä¢ Se n√£o tem internet: {grupo_risco/total_sem_internet*100:.1f}% chance de reprovar")
print(f"   ‚Ä¢ Se tem internet: {(93-36)/490*100:.1f}% chance de reprovar")

üîç AN√ÅLISE DO GRUPO DE ALTO RISCO
=======================================================

üìä CONTEXTO GERAL:
   ‚Ä¢ Total de alunos sem internet: 151
   ‚Ä¢ Total de alunos com reprova√ß√µes: 93
   ‚Ä¢ Alunos SEM internet E COM reprova√ß√µes: 36
   ‚Ä¢ Representa 23.8% dos sem internet
   ‚Ä¢ Representa 38.7% dos reprovados

üè´ DISTRIBUI√á√ÉO POR ESCOLA:
   ‚Ä¢ GP: 12 alunos em risco ‚Üí 15.6% dos sem internet da GP
   ‚Ä¢ MS: 24 alunos em risco ‚Üí 32.4% dos sem internet da MS

üë• DISTRIBUI√á√ÉO POR G√äNERO:
   ‚Ä¢ Mulheres: 16 em risco ‚Üí 18.2% das sem internet
   ‚Ä¢ Homens: 20 em risco ‚Üí 31.7% dos sem internet

üéØ PROBABILIDADE DE RISCO:
   ‚Ä¢ Se n√£o tem internet: 23.8% chance de reprovar
   ‚Ä¢ Se tem internet: 11.6% chance de reprovar

### üéØ Habitos dos alunos

In [8]:
import pandas as pd

# Criando DataFrame com formata√ß√£o
data = [
    ['Female study time below avg (hours)', 2.19, 1.88, 2.19],
    ['Male study time below avg (hours)', 1.8, 1.58, 1.8],
    ['Female study time above avg (hours)', 2.19, 1.88, 2.19],
    ['Male study time above avg (hours)', 1.8, 1.58, 1.8],
    ['Female go out above avg (hours)', 3.13, 3.15, 3.13],
    ['Male go out above avg (hours)', 3.19, 3.49, 3.19],
    ['Female go out below avg (hours)', 3.13, 3.15, 3.13],
    ['Male go out below avg (hours)', 3.19, 3.44, 3.19]
]

columns = ['Metric', 'GP', 'MS', 'Total']
df = pd.DataFrame(data, columns=columns)

# Formata√ß√£o para melhor visualiza√ß√£o com 2 casas decimais
styled_df = df.style.set_properties(
    **{'text-align': 'left'}
).set_table_styles([
    {'selector': 'th', 'props': [('text-align', 'left')]}
]).format({
    'GP': '{:.2f}',
    'MS': '{:.2f}', 
    'Total': '{:.2f}'
})

print("üìä Comportamento por G√™nero: Estudo vs Sa√≠das em Horas")
print("="*65)
styled_df

üìä Comportamento por G√™nero: Estudo vs Sa√≠das em Horas
=================================================================

## üí° Principais Observa√ß√µes

### üìö Padr√µes de Estudo:
- **üë© Mulheres estudam mais** que homens em ambas escolas
- **üè´ GP tem maior tempo de estudo** que MS
- **‚è∞ Tempo constante** independente de estar acima/abaixo da m√©dia

### üéâ Padr√µes de Sa√≠das:
- **üë® Homens saem mais** que mulheres, especialmente em MS
- **üè´ MS tem valores mais altos** em sa√≠das
- **üìä Pouca varia√ß√£o** entre categorias de alunos que est√£o acima/abaixo da m√©dia

### üéØ Insight Interessante:
Comportamentos s√£o consistentes independente de estarem acima ou abaixo da m√©dia, sugerindo padr√µes culturais/g√™nero bem estabelecidos.

### üí° Correla√ß√£o de consumo de alcool (dalc), faltas(absences) e sa√≠das (goout) com o coeficiente de failure

In [9]:
import pandas as pd

# Criando a tabela din√¢mica
data = [
    ['GP', 1.46, 0.15, 4.16, 3.15],
    ['MS', 1.56, 0.31, 2.55, 3.25],
    ['Total geral', 1.49, 0.21, 3.60, 3.19]
]

columns = ['school', 'AVERAGE de Dalc', 'AVERAGE de failures', 'AVERAGE de absences', 'AVERAGE de goout']
df_correlacao = pd.DataFrame(data, columns=columns)

# Exibindo a tabela
print("üìä Tabela Din√¢mica - Correla√ß√£o entre Vari√°veis")
print("="*65)
df_correlacao

üìä Tabela Din√¢mica - Correla√ß√£o entre Vari√°veis
=================================================================

,school,AVERAGE de Dalc,AVERAGE de failures,AVERAGE de absences,AVERAGE de goout
0,GP,1.46,0.15,4.16,3.15
1,MS,1.56,0.31,2.55,3.25
2,Total geral,1.49,0.21,3.60,3.19

üìà Correla√ß√µes Positivas com Reprova√ß√µes:
- **üç∑ Consumo de √°lcool (Dalc)**: MS (1,56) > GP (1,46) ‚Üí MS tem mais reprova√ß√µes
- **üéâ Frequ√™ncia de sa√≠das (Goout)**: MS (3,25) > GP (3,15) ‚Üí MS tem mais reprova√ß√µes

### üîÑ Correla√ß√£o Inversa/Inesperada:
- **‚ùå Faltas (Absences)**: GP (4,16) > MS (2,55) ‚Üí Por√©m GP tem MENOS reprova√ß√µes
  - *Poss√≠vel explica√ß√£o: faltas justificadas ou outros fatores intervenientes*

### üéØ Conclus√£o:
Vari√°veis comportamentais (Dalc, Goout) mostram forte correla√ß√£o com desempenho acad√™mico, enquanto faltas apresentam rela√ß√£o contraintuitiva que merece investiga√ß√£o adicional.

 ### üí° Desempenho escolar a partir do n√≠vel de educa√ß√£o da m√£e

In [10]:
print ('==Desempenho escolar dos alunos por escola relacionado ao n√≠vel de educa√ß√£o da m√£e==')
import pandas as pd

# Criando a tabela formatada
data = [
    [0, 'GP', '0.00%'],
    [0, 'MS', '25.00%'],
    ['0', 'Total', '16.67%'],
    [1, 'GP', '29.55%'],
    [1, 'MS', '39.51%'],
    ['1', 'Total', '34.32%'],
    [2, 'GP', '18.75%'],
    [2, 'MS', '30.00%'],
    ['2', 'Total', '23.08%'],
    [3, 'GP', '6.06%'],
    [3, 'MS', '22.58%'],
    ['3', 'Total', '10.00%'],
    [4, 'GP', '7.07%'],
    [4, 'MS', '17.86%'],
    ['4', 'Total', '9.45%'],
    ['Total geral', '', '20.63%']
]

columns = ['Fedu', 'school', 'AVERAGE de failures']
df_final = pd.DataFrame(data, columns=columns)

# Exibindo a tabela
df_final.style.hide(axis='index').set_properties(**{'text-align': 'left'})

==Desempenho escolar dos alunos por escola relacionado ao n√≠vel de educa√ß√£o da m√£e==

### üí° Desempenho escolar dos alunos por escola relacionados ao n√≠vel de educa√ß√£o do pai

In [11]:
print ('==Desempenho escolar dos alunos por escola relacionado ao n√≠vel de educa√ß√£o do pai==')
import pandas as pd

# Criando a tabela din√¢mica do n√≠vel de escolaridade dos pais
data = [
    ['GP', 0, '66.67%'],
    ['GP', 1, '33.93%'],
    ['GP', 2, '18.70%'],
    ['GP', 3, '16.00%'],
    ['GP', 4, '2.24%'],
    ['GP', 'Total', '15.14%'],
    ['MS', 0, '0.00%'],
    ['MS', 1, '39.76%'],
    ['MS', 2, '22.58%'],
    ['MS', 3, '47.22%'],
    ['MS', 4, '12.50%'],
    ['MS', 'Total', '30.80%'],
    ['Total geral', '', '20.63%']
]

columns = ['school', 'Medu', 'AVERAGE de failures']
df_medu = pd.DataFrame(data, columns=columns)

# Exibindo a tabela
print("Tabela Din√¢mica - AVERAGE de failures por school e Medu")
print("="*55)
df_medu

==Desempenho escolar dos alunos por escola relacionado ao n√≠vel de educa√ß√£o do pai==
Tabela Din√¢mica - AVERAGE de failures por school e Medu
=======================================================

         school   Medu AVERAGE de failures
0            GP      0              66.67%
1            GP      1              33.93%
2            GP      2              18.70%
3            GP      3              16.00%
4            GP      4               2.24%
5            GP  Total              15.14%
6            MS      0               0.00%
7            MS      1              39.76%
8            MS      2              22.58%
9            MS      3              47.22%
10           MS      4              12.50%
11           MS  Total              30.80%
12  Total geral                     20.63%

# üí°Principais Insights

 ### Escola GP tem 423 alunos e Escola MS conta com 226 alunos, totalizando 649. Por√©m, 9 alunos possuem dados de idade acima dos dos 19 anos, como 21 e 22, o que provavelmente significa um erro na produ√ß√£o da tabela, j√° que eles n√£o est√£o mais em idade escolar.

1Ô∏è‚É£ Escola GP √© mais forte

    76.4% dos alunos acima da m√©dia vs 45.6% em MS
    Diferen√ßa significativa

2Ô∏è‚É£ Falhas concentram em alunos fracos

    Abaixo da m√©dia: ~55% com falhas
    Acima da m√©dia: ~3.5% com falhas
    Diferen√ßa: ~15x mais

3Ô∏è‚É£ Padr√£o consistente

    14.3% dos alunos t√™m hist√≥rico de reprova√ß√£o
    Col√©gio MS tem uma taxa ligeiramente maior de reprova√ß√µes (51 alunos) e mais mulheres reprovadas do que homens (58.8% vs 41.2%)
    Col√©gio GP tem menor taxa de reprova√ß√£o (42) e apresenta paridade entre homens e mulheres reprovadas (50% a 50%)
   

    4Ô∏è‚É£ - Nivel de ensino dos pais afetam levemente a taxa de sucesso dos filhos

     O n√≠vel de ensino das m√£es tem um n√≠vel maior de impacto no n√≠vel de sucesso dos filhos
     Filhos de pais e m√£es com n√≠vel 1 de escolaridade (at√© a quarta s√©rie) s√£o os que mais repetiram de ano, muito mais do que aqueles sem escolaridade nenhuma (n√≠vel 0).
     # Ponto de investiga√ß√£o: Alunos de pais com n√≠vel de escolaridade n√≠vel 2 (quinta a nona s√©rie) est√£o performando muito mal; 43,7% est√£o perdendo de ano
     
5Ô∏è‚É£ - N√∫mero 5

    Enquanto consumo de alcool e "sa√≠das" (goout) impactam a taxa de perde de ano, principalmente na escola MS, a taxa de falta a aula (absence) tem rela√ß√£o inversa: os estudantes da escola GP foram os que mais faltaram em m√©dia, mas aqueles que menos repetiram de ano.

    
6Ô∏è‚É£ - N√∫mero 6

Alunos sem interesse em ingressar no ensino superior tem 4,2x mais chances de serem reprovados



üö® Recomenda√ß√µes Baseadas nos Dados
 

1Ô∏è‚É£ **Foco Preventivo**: Intervir nos alunos sem interesse em ensino superior

2Ô∏è‚É£ **Programa de Orienta√ß√£o**: Mostrar conex√£o entre desempenho atual e futuro acad√™mico 

3Ô∏è‚É£ **Acompanhamento**: Monitorar especialmente os 65 alunos do grupo de risco (65 alunos que n√£o tem interesse em n√≠vel superior e compoem a maior taxa de reprova√ß√£o)

4Ô∏è‚É£ **Motiva√ß√£o**: Desenvolver programas que conectem sucesso escolar com oportunidades futuras

7Ô∏è‚É£ - **Familia**: Entender porque alunos de pais com n√≠vel 3 de ensino no col√©gio MS tem uma altiss√≠ma taxa de reprova√ß√£o

8Ô∏è‚É£ - **Escolas** Col√©gio MS necessita fazer uma analise interna e melhorar o ensino. A escola MS precisa de interven√ß√£o URGENTE e ESPEC√çFICA, focando em:

    üéì Fam√≠lias com ensino m√©dio (n√≠vel 3 educacional)

    üë® Homens com excesso de sa√≠das e √°lcool

    üë© Mulheres com baixo rendimento

    üìö Cultura de estudo menos desenvolvida

**Prioridade M√ÅXIMA: Grupo de pais com ensino m√©dio (47.22% reprova√ß√£o) - este √© o insight mais valioso e espec√≠fico da MS!** 

9Ô∏è‚É£ - Falta de acesso a internet

   Programa emergencial de acesso √† internet para MS, aulas de refor√ßo presenciais para alunos sem internet e materiais did√°ticos offline para este grupo
 
 MS concentra 67% dos casos (24 de 36 alunos)
 

üéì Conclus√µes

‚úÖ Performance e falhas s√£o altamente correlacionadas

‚úÖ GP tem desempenho superior

‚úÖ Oportunidade: ~55% dos alunos abaixo da m√©dia repetiram de ano ‚Üí interven√ß√£o poss√≠vel

‚úÖ No geral das duas escolas, 93 de 640 alunos reprovaram, ou seja, 14,5%. √â um n√∫mero aceitavel, mas que pode ser melhorado

‚úÖDestes, 51 foram da escola MS e 42 foram da escola GP. GP conta com 423 alunos e 12,06% de taxa de reprova√ß√£o, enquanto MS conta com 226 alunos e 22,57* de taxa de reprova√ß√£o.

‚úÖAUS√äNCIA DE INTERNET √© fortemente correlacionada com REPROVA√á√ïES
Chance de reprovar sem internet: 23.8%

 Chance de reprovar com internet: 11.6%

 üî• 2.1x MAIS chances sem internet

 36 alunos est√£o na situa√ß√£o de MAIOR risco: sem internet + reprova√ß√µes
 
 Homens representam 56% do grupo de risco